*{
	margin:0;
	padding:0;
	border:0;
	font-size:1.5625vw;
	font-family: "Microsoft Yahei";
}
body,html{
	height:100%;
	overflow:hidden;
}
.music{
 position:fixed;
 top:3vh;
 right:4vw;
 z-index:5;
 width:15vw;
 height:15vw;
 border: 4px solid #ef1639;
 border-radius: 50%;
 background: #fff;
} 
.music > img:first-of-type{
 position:absolute;
 top:24%;
 right:2.5%;
 width:28.421%;
 z-index:1;
}
.music> img:last-of-type{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:79%;
	margin:auto;
	z-index:0;
}
.music> img.play{
 -webkit-animation: music_play 4s linear infinite;
      -o-animation: music_play 4s linear infinite;
         animation: music_play 4s linear infinite;

}
@keyframes music_play{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes music_play{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


/*page bg*/
.page{
	position:absolute;
	height:100%;
	width:100%;
}
.page>.bg{
	position:absolute;
	height:100%;
	width:100%;
	z-index:-1;

}
/*page1*/
#page1{
	display:block;
}
#page1>.bg{
	background: url("../img/p1_bg.jpg") no-repeat center center;
	background-size: 100%;

}
#page1>.p1_lantern{
	position:absolute;	
	top:-3.4%;
	right:0;
	left:0;
	margin:0 auto;
	color:#fff;
	background:url("../img/p1_lantern.png") no-repeat center bottom;
	background-size: 100%;
	width:45vw;
	height:71.2vh;
	padding-top:31vh;
	text-align:center;
	font-size: 3.506rem;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}
#page1 >.p1_lantern:before{
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: -1;
	content: "";
	margin:auto;
	width:30vw;
	height:30vh;
	background:#d60b3b;
	border-radius: 100%;
	text-align:center;
	opacity: .5;
	-webkit-box-shadow: 0 0 10vw 10vw #d60b3b;
	   -moz-box-shadow: 0 0 10vw 10vw #d60b3b;
	    -ms-box-shadow: 0 0 10vw 10vw #d60b3b;
	     -o-box-shadow: 0 0 10vw 10vw #d60b3b;
	        box-shadow: 0 0 10vw 10vw #d60b3b;
	-webkit-animation: change 0.8s infinite alternate;
      -o-animation: change 0.8s infinite alternate;
         animation: change 0.8s infinite alternate;
}
@keyframes change{
	0%{
		opacity: .5;
		-webkit-transform: scale(0.8,0.8);
		-ms-transform: rotate(0.8,0.8);
		-o-transform: rotate(0.8,0.8);
		transform: rotate(0.8,0.8);
	}
	100%{
		opacity: 1;
		
	}
}
@-webkit-keyframes change{
	0%{
		opacity: .5;
		-webkit-transform: scale(0.8,0.8);
		-ms-transform: rotate(0.8,0.8);
		-o-transform: rotate(0.8,0.8);
		transform: rotate(0.8,0.8);
	}
	100%{
		opacity: 1;		
	}
}
/*--------------------------------------------------可插图-----*/
#page1>.p1_words{
 font-size: 2.134rem;
 position: absolute;
 right:0;
 left:0;
 bottom:48px;
 text-align:center;
 color:#231815;

}
/*page2*/
#page2{
	display:none;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
#page2.fadeOut{
	opacity: 0.3;
	-webkit-transform: translate(0,-100%);
	transform: translate(0,-100%);

}
#page2>.bg{
	background: url("../img/p2_bg.jpg") no-repeat center center;
	background-size: 100%;
	
}
/*效果*/
@keyframes -webkit-loading{
	0%{opacity: 1;}
	100%{opacity: 0}

}
@keyframes loading{
	0%{opacity: 1;}
	100%{opacity: 0}

}
#page2>.bg_lodaing{
	z-index:4;
	background: #ef1639;
	animation: loading 1s linear forwards;
	-webkit-animation: loading 1s linear forwards;
}
#page2>.p2_circle{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	background: url("../img/p2_circle_outer.png") no-repeat center center;
	background-size: 100%;
	width:59.375vw;
	height:59.375vw;
	webkit-animation: cirle_out 1s linear 3s infinite;
      -o-animation: cirle_out 1s linear 3s infinite;
         animation: cirle_out 1s linear 3s infinite;			
}
@keyframes circle_out{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes cirle_out{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
#page2>.p2_circle:before{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	content:"";
	content:"";
	margin:auto;
	background: url("../img/p2_circle_middle.png") no-repeat center center;
	background-size: 100%;
	width:45.625vw;
	height:45.6255vw;
	webkit-animation: cirle_mid 1s linear 2s infinite;
      -o-animation: cirle_mid 1s linear 2s infinite;
         animation: cirle_mid 1s linear 2s infinite;		
}
@keyframes circle_mid{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(720deg);
		-ms-transform: rotate(720deg);
		-o-transform: rotate(720deg);
		transform: rotate(720deg);
	}
}
@-webkit-keyframes cirle_mid{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(720deg);
		-ms-transform: rotate(720deg);
		-o-transform: rotate(720deg);
		transform: rotate(720deg);
	}
}
#page2>.p2_circle:after{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	content:"";
	margin:auto;
	background: url("../img/p2_circle_inner.png") no-repeat center center;
	background-size: 100%;
	width:39.9375vw;
	height:39.9375vw;
	-webkit-animation: cirle_inner 1s linear 1s infinite;
      -o-animation: cirle_inner 1s linear 1s infinite;
         animation: cirle_inner 1s linear 1s infinite;	
}
@keyframes circle_inner{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(-1080deg);
		-ms-transform: rotate(-1080deg);
		-o-transform: rotate(-1080deg);
		transform: rotate(-1080deg);
	}
}
@-webkit-keyframes cirle_inner{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(-1080deg);
		-ms-transform: rotate(-1080deg);
		-o-transform: rotate(-1080deg);
		transform: rotate(-1080deg);
	}
}

#page2>.p2_2018{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	content:"";
	margin:auto;
	background: url("../img/p2_2018.png") no-repeat center center;
	background-size: 100%;
	width:27.5vw;
	height:6.24vh;	
}
/*page3*/
#page3{
	display:none;
	transition: 0.5s;
}
#page3.fadeIn{

	transform: translate(0,-100%);
	-webkit-transform: translate(0,-100%);
}
#page3>.bg{
	background: url(../img/p3_bg.jpg) no-repeat center center;
	background-size: 100%;	
}
#page3>.p3_title{
	width:45.3125vw;
	height:11vh;
	position: absolute;
	top:21vh;
	right:0;
	left:0;
	margin:auto;
	background: url(../img/newyear.gif) no-repeat center center;
 background-size: 100%;	
}
#page3>.p3_second{
	width:22.8125vw;
	height:41.625vh;
	position: absolute;
	top:25.48vh;
	left:3.75vw;
	margin:auto;
	background: url(../img/p3_couplet_second.png) no-repeat center center;
 background-size: 100%;	
}
#page3>.p3_first{
	width:22.8125vw;
	height:41.625vh;
	position: absolute;
	top:25.48vh;
	right:3.75vw;
	margin:auto;
	background: url(../img/p3_couplet_first.png) no-repeat center center;
 background-size: 100%;	
}
#page3>.p3_blessing{
	width:32vw;
	height:32vh;
	position: absolute;
	bottom:10vh;
	right:0;
	left:0;
	margin:auto;
	border-radius: 50%;
	background: url(../img/p3_blessing.png) no-repeat center center;
 background-size: 100%;
 -webkit-animation: bless 2s linear infinite;
      -o-animation: bless 2s linear infinite;
         animation: bless 2s linear infinite;	

}
@keyframes bless{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes bless{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}